body
{
        background-color: #f6f2e6;
}

*
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border : border-box;
}

.bord:hover
{
    border: 1.3px solid white;
    border-radius: 2px;
}


/* 
main bar */
#navbar
{
    height: 60px;
    background-color: #1e2d3f;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:10px;
    padding-right: 20px;
    position:sticky;
    top: 0px;
}


/* 
box one */
#navlogo
{
    height: 50px;
    width: 100px; 
}

#logo
{
    background-image: url("https://telecomtalk.info/wp-content/uploads/2021/05/amazon-one-month-prime-membership-discontinued-rbi.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}


 /* box 2 */
#deliver
{
    margin-left: 15px;
    color: #ccc;
    font-size: 0.8rem;
    padding: 5px;
}

#loc
{
    display: flex;
}

 /* box 3 */
#searchbar
{
    display: flex;
    justify-content: space-evenly;
    width: 55vw;
    height: 40px;
    border-radius: 5px;
    background-color: palegoldenrod;
}

#searchbar:hover
{
    border: 3px solid orange;
}

#search
{
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

#searchicon
{
    text-align: center;
    align-content: center;
    background-color: rgb(226, 159, 13);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 3rem;
    color: #0f1111;
    font-size: 1.4rem;
}

#searchspace
{
    width: 100%;
    font-size: 17px;
    border: none;
}

 /* box 4 */

 .hello
{
    font-size: 12px;
}

.acc
{
    font-weight: 14px;
}

 /* box 5 */
 #cart
 {
    display: flex;
 }

 #cart i
 {
    font-size: 30px;
 }

 #cart p
 {
    padding-top: 10px;
    font-size: 20px;
 }


  /* panel */

  #panel
  {
    background-color: #2b3b4f;
    height: 39px;
    display: flex;
    align-content: center;
    align-items: center;
  }

  #panelall
  {
    height: 30px;
    color: white;
    padding-left: 10px;
    align-items: center;
    align-content: center;
    padding: 3px;
  }

  #all
  {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
  }

  #paneloptions
  {
    width:90%;
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: 400;
  }

   /* the main back */

#backama
{
    background-color: #f6f2e6;
    display: flex;
    justify-content: center;
}

#backimg
{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/INSLGW/af_pc_2x._CB792409181_.jpg");
    background-size: cover;
    height: 40vh;
    width: 98vw;
}



#content
{
    font-size: 20px;
    font-weight: 550;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

#box1
{
    padding-top: 10px;
    background-color: white;
    width: 21vw;
    height: 400px;
}
#box2
{
    padding-top: 10px;
    background-color: white;
    width: 21vw;
    height: 400px;
}
#box3
{
    padding-top: 10px;
    background-color: white;
    width: 21vw;
    height: 400px;
}
#box4
{
    padding-top: 10px;
    background-color: white;
    width: 21vw;
    height: 400px;
}


.imgback
{
    height: 300px;
    width: 250px;
}

#box5
{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 70px;
    margin-left: 42px;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    width: 94%;
    height: 300px;
    
}